html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    line-height: 0.95em;
}
body {
    padding-top: 2%;
    background-color: rgb(31, 31, 31);
    color: white;
    background: url(https://wi.wallpapertip.com/wsimgs/56-567334_red-gradient-backgrounds-images-pictures-becuo-red-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}
iframe{
    padding-bottom: 4%
}
h1{
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 180px;
    color: gold;
    letter-spacing: -0.05em;
    line-height: 0.9em;
    word-wrap: break-word;
    margin-right: 300px;
    position:fixed;
    margin: 0% 2%;
    z-index:-1;
}
#darkh1{
    color: darkred;
}

img {
    width: 200px;
    border: 20px solid gold;
}
a:link{
    text-decoration: underline;
    color:gold;
}
a:hover{
    color:gold;
}

a:visited{
    color: gold;
}

a:visited:hover{
    color:darkred;
}

.subtitle{
    color:gold;
}
.lyrics{
    padding-top: 15px;
    padding-bottom:15px;
}
.indent{
    /* margin: 0% 10%; */
   padding-left: 820px;
}

#description{
    padding-top: 2%;
}
