html{
    max-width: 960px;
    margin:auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    background-color: rgba(248, 235, 230, 0.89);
    padding: 3%;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    text-decoration: underline;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13pt;
}
.prep p{
    color: slategray;
    margin: 0px;
    padding-left: 3%;
}
.prep p:first-of-type {
    padding-top: 2%;
}

.prep p:last-of-type{
    padding-bottom: 2%;
}
.prep{
    background-color: rgba(248, 235, 230, 0.89);
}

img{
    object-fit: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 50%;
    height: 50%;
}

.images{
    width: 100%;
    display: flex;
}
.content {
    margin-top: 3%;
}
.ingredients {
    background-color: rgba(243, 209, 196, 0.89);
    padding-left: 3%;
    padding-right: 3%;
}

.instructions li{
    list-style-type: decimal;
    padding-bottom: 3%;
}

footer{
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (min-width: 640px) {
    .content {
        display: flex; 
    }

    .instructions{
        width:50%;
        padding-left: 5%;
    }
    .ingredients{
        width: 300px;
    }
  
}
@media (max-width: 639px){
    .ingredients{
        padding-bottom: 5%;
        padding-top: 2%;
    }
    .instructions{
        padding-top: 2%;
    }
}
